*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #659DBD;
    height: 400vh;
    width: 100%;
    font-family: Verdana, Arial, serif;
}
/* this is the nav flex box container  */
.container {
    /*border: 3px solid lightgray;*/
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.box {
    width: 25rem;
    height: 4rem;
   /* background-color: gold;*/
    margin: 1rem;
}

#box1 {
    width: 40rem;
}


nav ul{
    list-style: none;
    display: inline-block;
    position: relative;
    top: -10%;
}

nav ul li {
    display: inline-block;
    font-size: 	1.44rem;
    padding-left: .5rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    border-bottom: 3px solid white;
    padding-bottom: .5rem;
}

#logo{
    width: 2.9rem;
}

#selected {
    color: gray;
}

img {
    display: inline-block;
    position: relative;
    top: 10%;
}

/* end of nav stuff  */

#secondBody {
    display: flex;
    border: 3px solid lightgray;
   /* overflow: hidden;*/
    flex-wrap: wrap;
    /*height: 1000vh;*/
    justify-content: space-between;
}

#boxes1 {
    width: 22rem;
    height: 25rem;
   /* background-color: gold;*/
    overflow: hidden;
    margin-top: 50px;
}

#boxes1 > p {
    color: #636161;
}

#boxes1 > h1 {
    margin-bottom: 1.5rem;
    line-height: 3.0rem;
}

#boxes2 {
    width: 40rem;
    height: 30rem;
    /*background-color: red;*/
    /*overflow: hidden;*/

}

#boxes2 > img {
    width: 35rem;
    height: 30rem;
    padding-bottom: 5rem;

}