*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDEADE;
    /*height: 400vh;*/
    width: 100%;
    font-family: Verdana, Arial, serif;
}

/* this is the nav flex box container  */
.container {
    /*border: 3px solid lightgray;*/
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.box {
    width: 25rem;
    height: 4rem;
   /* background-color: gold;*/
    margin: 1rem;
}

#box1 {
    width: 40rem;
}


nav ul{
    list-style: none;
    display: inline-block;
    position: relative;
    top: -10%;
}

nav ul li {
    display: inline-block;
    font-size: 	1.44rem;
    padding-left: .5rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    border-bottom: 3px solid white;
    padding-bottom: .5rem;
}

#logo{
    width: 2.9rem;
}

#selected {
    color: #636161;
}

img {
    display: inline-block;
    position: relative;
    top: 10%;
}

/* end of nav stuff  */

#secondBody {
    display: flex;
    /*border: 3px solid lightgray;*/
    overflow: hidden;
    flex-wrap: wrap;
    /*height: 1000vh;*/
    justify-content: space-between;
    margin: 1rem;
}

/* Beginning of box one */
#boxes1 {
    width: 22rem;
    height: 25rem;
    overflow: hidden;
    margin-top: 50px;
    /* background-color: gold;*/
}

#boxes1 > p {
    color: #636161;
}

#boxes1 > h1 {
    margin-bottom: 1.5rem;
    line-height: 3.0rem;
}

/* End of box one */

/* Beginning of box two */
#boxes2 {
    width: 30rem;
    height: 30rem;
    /*background-color: red;*/
    overflow: hidden;

}

#boxes2 > img {
    width: 35rem;
    height: 30rem;
    padding-bottom: 5rem;

}

/* End of box two */

/*Start of third body */

#thirdBody {
    background-color: #1d4b40;
    display: flex;
    /*border: 3px solid lightgray;*/
    overflow: hidden;
    flex-wrap: wrap;
    /*height: 1000vh;*/
    justify-content: space-evenly;
    /*margin: 1rem;*/
}

#thirdBodyHeader {
    width: 100%;
    height: 7rem;
    /*background-color: gold;*/
}

#thirdBodyHeader > h2 {
    color: antiquewhite;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#thirdBodyHeader > p {
    color: antiquewhite;
    font-size: 1.4rem;
    margin-left: 2rem;
}


.longBoxes {
    margin-top: 4rem;
    width: 12rem;
    height: 30rem;
    /*background-color: gold;*/
    overflow: hidden;
}

.longBoxes > img {
    width: 13rem;
    height: 28rem;
    position: relative;
    top: 1px;
}
/*End of third body */

/*Start of Fourth body */
#fourthBody {
    display: flex;
    /*border: 3px solid lightgray;*/
    overflow: hidden;
    flex-wrap: wrap;
    /*height: 1000vh;*/
    justify-content: space-evenly;
}

.descriptionBox {
    width: 50%;
    height: 50%;
    position: relative;
    top: 0.01px;
    overflow: hidden;
}

#words {
    padding-top: 4rem;
}

#words > p {
    font-size: 1.8rem;
    color: #636161;;
}


#jenImage {
    width: 100%;
    height: 25rem;
}

/*End of Fourth body */

/*start of footer */

footer {
    background-color: #424040;
    display: flex;
    /*border: 3px solid lightgray;*/
    overflow: hidden;
    flex-wrap: wrap;
    height: 30vh;
    /*margin: 1rem;*/
}

#socialMedia {
    position: relative;
    left: 80%;
}

#socialMedia > ul{
    list-style-type: none;
}

.name {
    text-decoration: none;
    color: whitesmoke;
}

.logo {
    vertical-align: middle;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.5);
}

/* End of footer */
