*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDEADE;
    /*height: 400vh;*/
    width: 100%;
    font-family: Verdana, Arial, serif;
}

/* this is the nav flex box container  */
.container {
    /*border: 3px solid lightgray;*/
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.box {
    width: 25rem;
    height: 4rem;
    /* background-color: gold;*/
    margin: 1rem;
}

#box1 {
    width: 40rem;
}


nav ul{
    list-style: none;
    display: inline-block;
    position: relative;
    top: -10%;
}

nav ul li {
    display: inline-block;
    font-size: 	1.44rem;
    padding-left: .5rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    border-bottom: 3px solid white;
    padding-bottom: .5rem;
}

#logo{
    width: 2.9rem;
}

#selected {
    color: #636161;
}

img {
    display: inline-block;
    position: relative;
    top: 10%;
}

/* end of nav stuff  */

/*start of contact */
#contact{
    /*background-color: gold;*/
    display: flex;
    /*border: 3px solid lightgray;*/
    overflow: hidden;
    flex-wrap: wrap;
    /*margin: 1rem;*/
    justify-content: center;
}

#contactBox {

    width: 30rem;
    height: 30rem;
    /*background-color: red;*/
}

#contactBox > ul {
    list-style-type: none;
}

.image {
    width: 5rem;
    vertical-align: middle;
}

#contactBox > ul {
    margin-top: 3rem;
}

#contactBox > ul > li > a {
    text-decoration: none;
    color: black;
}

/*End of contact */

/*start of footer */

footer {
    background-color: #424040;
    display: flex;
    /*border: 3px solid lightgray;*/
    overflow: hidden;
    flex-wrap: wrap;
    height: 30vh;
    /*margin: 1rem;*/
}

#socialMedia {
    position: relative;
    left: 80%;
}

#socialMedia > ul{
    list-style-type: none;
}

.name {
    text-decoration: none;
    color: whitesmoke;
}

.logo {
    vertical-align: middle;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.5);
}

/* End of footer */